.matrix {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.matrix-row {
  display: flex;
}

.dot {
  border-radius: 50%;
  border: 1.5px solid #696969;
}

.dot.free {
  background: #FAEBD7;
  margin: 3px;
}

.dot.occupied {
  background: #3232CD;
}

.matrix-grid {
  display: grid;
  align-items: center;
}

.matrix-header {
  font-weight: 550;
  text-align: center;
  user-select: none;
}

.matrix-header.column {
  margin-bottom: 0px;
  margin-left: 7px;
}

.matrix-header.row {
  margin-right: 0px;
}
