.dot {
  border-radius: 50%;
  border: 1.5px solid #696969;
}

.dot.free {
  background: #DCDCDC;
  margin: 3px;
}

.dot.occupied {
  background: #3232CD;
}

/* Bolinhas da matriz */
.dot {
  border-radius: 50%;
  background-color: #d5dae0; /* cor neutra para livre */
  display: inline-block;
  transition: all 150ms ease;
}

/* Efeito hover */
.dot.free:hover {
  filter: brightness(1.1);
}

.dot.occupied:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
.dot.inactive {
  background-color: #c0392b;
  box-shadow: 0 2px 6px rgba(192, 57, 43, 0.35);
}

.dot.inactive:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.dot.occupied {
  background-color: #4f7db8;
}

.dot.occupied.selected {
  background-color: #3ddc97;
  outline: 1px solid rgba(0, 0, 0, 0.533);
  box-shadow: 0 4px 10px rgba(47, 95, 144, 0.45);
}

.dot.occupied:hover {
  background: #5a8fd6;
}

.dot.occupied.selected:hover {
  background-color: #0fac68;
}

.dot.occupied.Broca0-3 {
  background: #FFE880;
}

.dot.occupied.Broca0-3:hover {
  background: #FFE880;
}

.dot.occupied.Broca0-4 {
  background: #FFB5C0;
}

.dot.occupied.Broca0-4:hover {
  background: #FFB5C0;
}

.dot.occupied.Broca0-6 {
  background: #BD0003;
}

.dot.occupied.Broca0-6:hover {
  background: #BD0003;
}

.dot.occupied.Broca0-8 {
  background: #FFA726;
}

.dot.occupied.Broca0-8:hover {
  background: #FFA726;
}

.dot.occupied.Broca1-0 {
  background: #02971F;
}

.dot.occupied.Broca1-0:hover {
  background: #02971F;
}

.dot.occupied.Broca1-3 {
  background: #533D8B;
}

.dot.occupied.Broca1-3:hover {
  background: #533D8B;
}

.dot.occupied.FresadeTopoReto {
  background: #735945;
}

.dot.occupied.FresadeTopoReto:hover {
  background: #735945;
}

.dot.occupied.FresadeGravaçãoPiramidal {
  background: #11388E;
}

.dot.occupied.FresadeGravaçãoPiramidal:hover {
  background: #11388E;
}

.dot.occupied.FresaEngraving {
  background: #AB9680;
}

.dot.occupied.FresaEngraving:hover {
  background: #AB9680;
}

.dot.inactive {
  background-color: #c0392b;
  box-shadow: 0 2px 6px rgba(192, 57, 43, 0.35);
}

.dot.inactive:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
