.register-uses {
  position: relative;
  max-width: 1000px;
  margin: 20px auto;

  background: #f5f5f5;
  border-radius: 16px;
  padding: 28px 32px;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

h3 {
  justify-content: center;
}

.matrix-grid {
  justify-content: center;
}
